@import "../mixin/a_button.scss";
@import "../mixin/button_hover.scss";
@import "../mixin/button_active.scss";

.download-content {
    padding: 114px 0;

    @media (max-width: 1200px) {
        padding: 78px 0;
    }

    @media (max-width: 768px) {
        padding: 34px 0 45px 0;
    }

    &__title {
        padding: 0 0 5px 0;
        font-size: 30px;
        font-weight: 500;
        line-height: 70px;
        text-align: center;
        text-transform: capitalize;

        @media (max-width: 1200px) {
            font-size: 24px;
            line-height: 60px;
        }
    
        @media (max-width: 768px) {
            padding: 19px 0;
            font-size: 18px;
            line-height: 21px;
        }
    }
    &__subtitle {
        padding: 0 0 50px 0;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        text-align: center;
        text-transform: uppercase;

        @media (max-width: 1200px) {
            padding: 0 0 45px 0;
            font-size: 14px;
            line-height: 16px;
        }
    
        @media (max-width: 768px) {
            padding: 13px 0;
            font-size: 13px;
            line-height: 15px;
        }
    }

    &__button {
        @include a_button;
        font-size: 24px;
        font-weight: 900;
        line-height: 80px;
        text-align: center;

        @media (max-width: 1200px) {
            width: 314px;
            font-size: 18px;
        }
    
        @media (max-width: 768px) {
            width: 278px;
        }

        @media (max-width: 316px) {
            width: 200px;
        }

        &:hover {
            @include button_hover;
        }

        &:active {
            @include button_active;
        }
    }
}