.footer-bg {
    background-color: #353C65;
}

.footer-content {
    padding: 71px 0 67px 0;
    display: flex;
    gap: 30px;
    color: #FFFFFF;

    @media (max-width:1200px) {
        padding: 47px 0 41px 0;
        gap: 20px;
    }

    @media (max-width: 768px) {
        padding: 34px 0;
        flex-direction: column;
        gap: 59px;
    }

    &-item {
        width: 33.3%;
        text-align: center;

        @media (max-width: 768px) {
            width: 100%;
        }

        &__title {
            padding: 0 0 29px 0;
            font-size: 18px;
            font-weight: 700;
            line-height: 21px;
            text-transform: uppercase;

            @media (max-width:1200px) {
                padding: 0 0 17px 0;
                font-size: 14px;
                line-height: 16px;
            }
        
            @media (max-width: 768px) {
                padding: 0 0 36px 0;
            }
        }

        &__subtitle {
            font-size: 18px;
            font-weight: 400;
            line-height: 21px;
            text-transform: capitalize;

            @media (max-width:1200px) {
                font-size: 14px;
                line-height: 16px;
            }
        }

        &__icons__list {
            padding: 20px 0 0 0;
            display: flex;
            justify-content: center;
            gap: 26px;

            @media (max-width: 1200px) {
                padding: 15px 0 0 0;
                gap: 23px;
            }

            @media (max-width: 768px) {
                padding: 0;
                gap: 17px;
            }

            svg {
            
                @media (max-width: 1200px) {
                    width: 33px;
                    height: 33px;
                }
            }
        }
    }

}

.footer-content-item__subtitle--ofsset {
    @media (max-width: 768px) {
        padding: 0 0 10px 0;
    }
}

.foter-copyright {
    padding: 24px 0;
    background-color: #2C3154;
    color: #808080;

    @media (max-width: 1200px) {
        padding: 14px 0;
    }

    @media (max-width: 768px) {
        padding: 29px 0;
    }

    &__subtitle {
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        text-align: center;
        text-transform: capitalize;

        @media (max-width: 1200px) {
            font-size: 14px;
            line-height: 16px;
        }

        span {
            color: #FFFFFF;
        }

    }
}